.btn-wide {
  width: 15%;
  min-width: 180px;
}

.password-info {
  font-size: 12px;
  color: #999;
}



.background-navbar {
  background-color: #DCDCDC;
}

.background-navbar-lower {
  background-color: #F8F8FF;
}

.btn-nav {
  display: block;
  width: 100%;
  min-width: 150px;
  text-align: center;
  padding: 2px;
  border: 1px solid #dddde386;
  border-radius: 3px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
  background-color: #F8F8FF;
  transition: background-color 0.2s ease-in-out;
}

.btn-nav:hover {
  background-color: #DCDCDC;
}

.btn-standard {
  display: block;
  width: 15%;
  min-width: 150px;
  text-align: center;
  padding: 2px;
  border: 1px solid #dddde386;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #333;
  background-color: #F8F8FF;
}

.btn-standard:hover {
  background-color: #DCDCDC;
}